@import "../../styles/variables";

.header {
    background-color: #fff;
}

.logo {
    @media (max-width: $mobileSize) {
        width: 100px;
    }
}
.content {
    @include top-block-wrapper;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 13px;
}
.nav {
    align-items: center;
    gap: 10px;
    display: none;
    @media (min-width: 350px) {
        display: flex;
    }
}
